.account-form {
    text-align: center;
}

.account-form input {
    width: 100%;
    border: 3px solid #ccc;
    border-radius: 7px;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2em;
}

.account-form button {
    bottom: -26px;
}

.account-form-header {
    background-color: black;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 16px;
}

.account-form-header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}